@font-face {
    font-family: "Manteka";
    src: url("../fonts/manteka.otf");
  }

@-webkit-keyframes pulseAnimHeadline2 {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(112, 174, 204, 0.5); }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(112, 174, 204, 0); }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(112, 174, 204, 0); } 
    }

@keyframes pulseAnimHeadline2 {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(112, 174, 204, 0.5);
        box-shadow: 0 0 0 0 rgba(112, 174, 204, 0.5); }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(112, 174, 204, 0);
        box-shadow: 0 0 0 10px rgba(112, 174, 204, 0); }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(112, 174, 204, 0);
        box-shadow: 0 0 0 0 rgba(112, 174, 204, 0); }
}

/* RESPONSIVE - screen width bigger than 400px width */
@media screen and (min-width: 40em) {
    #mainLogo {
        max-width: 70vw;
        max-height: 50vh;
        min-height: 30em;
    }

    .headline1 {
        font-size: 4em;
    }

    .headline2 {
        font-size: 2.8em;
    }

    .text1 {
        font-size: 1.8em;
    }

    .svgIcon {
        width: 8em;
        height: 8em;
    }
}

/* RESPONSIVE - screen width smaller than 400px width */
@media screen and (max-width: 39.999em) {
    #mainLogo {
        max-width: 50vw;
        max-height: 60em;
    }
    
    .headline1 {
        font-size: 2.5em;
    }

    .headline2 {
        font-size: 1.7em;
    }

    .text1 {
        font-size: 1.2em;
    }

    .svgIcon {
        width: 6em;
        height: 6em;
    }
}

body {
    background-color: black;
    color: rgb(199, 206, 209);
    margin: 0;
    font-size: 62.5%;
}

a  {
    color: rgb(199, 206, 209);
    text-decoration: none;
}

a:hover  {
    color: white;
    text-decoration: none;
}
a:active {
    color: white;
    text-decoration: none;
}
a:visited {
    color: rgb(199, 206, 209);
    text-decoration: none;
}

.pageWrapper {
    width: 100%;
    height: 95vh;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 5% 90% 5%; 
    grid-template-areas: 
      "gridHeader gridHeader gridHeader"
      ". gridMain ."
      "gridFooter gridFooter gridFooter";

}

.pageBanner {
    grid-area: gridHeader;

}

.pageMain {
    grid-area: gridMain;
    text-align: center;
    display: inline-flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
}

.pageFooter {
    grid-area: gridFooter;
}

.pageMainLogo {
    width: 100%;
}

.pageMainTop {
    order: 1;
    width: 100%;
    padding-top: 3em;
    padding-bottom: 0em;
}

.pageMainMiddle {
    order: 2;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    min-width: 15vw;
    max-width: 25;
    min-height: 10vh;
    padding-top: 1em;
    padding-bottom: 1em;
}

.pageMainBottom {
    order: 3;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 3em;
}

.svgIcon {
    fill: rgb(199, 206, 209);
    filter: drop-shadow(12px 12px 7px rgba(0,0,0,0.5));
    -webkit-filter: drop-shadow(12px 12px 7px rgba(0,0,0,0.5));
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
}

.svgIcon:hover {
    fill: rgb(256, 256, 256);
    transform:scale(1.2); 
    -webkit-transform:scale(1.2); 
    -moz-transform:scale(1.2); 
    -ms-transform:scale(1.2); 
    -o-transform:scale(1.2);
    cursor: pointer;
  }

.sectionDiscord {
    order: 1;
    text-align: center;
    align-self: center;
    max-width: 20em;
    padding: 1.5em;
    height: auto;
}

.sectionGuilded {
    order: 2;
    text-align: center;
    align-self: center;
    max-width: 20em;
    padding: 1.5em;
    height: auto;
}

.sectionBohemiaUnit {
    order: 3;
    text-align: center;
    align-self: center;
    max-width: 20em;
    padding: 1.5em;
    height: auto;
}

.sectionSteam {
    order: 4;
    text-align: center;
    align-self: center;
    max-width: 20em;
    padding: 1.5em;
    height: auto;
}

.hoverText {
    display: none;
    max-width: 50em;
}

.headline1 {
    font-family: Manteka, Tahoma, sans-serif;
    filter: drop-shadow(12px 12px 7px rgba(0,0,0,0.5));
    -webkit-filter: drop-shadow(12px 12px 7px rgba(0,0,0,0.5));
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
}

.headline2 {
    font-family: Manteka, Tahoma, sans-serif;
    filter: drop-shadow(12px 12px 7px rgba(0,0,0,0.5));
    -webkit-filter: drop-shadow(12px 12px 7px rgba(0,0,0,0.5));
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
    -webkit-animation: pulseAnimHeadline2 1.5s infinite;
    animation: pulseAnimHeadline2 1.5s infinite;
}

.headline2 a:hover {
    text-decoration: underline;
}


.text1 {
    font-family: Manteka, Tahoma, sans-serif;
    text-align: justify;
}

.fadedHr1 {
    box-sizing: inherit;
    border: 0;
    height: 1px;
    max-width: 70em;
    background-image: linear-gradient(to left, rgba(199, 206, 209, 0), rgba(199, 206, 209, 0.75), rgba(199, 206, 209, 0));
}

#backgroundVideo {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -10;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover; 
  }
  
  #backgroundVideoOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* MONITOR BAR PATTERN OVERLAY - as base64 coded image */
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAE0lEQVQImWNgYGD4jwVjBxSoBAD6ig7yjlXMAAAAAABJRU5ErkJggg==);
    background-repeat: repeat;
    z-index: -9;
    opacity: 0.3;
  }
  
  #mainLogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    transform-origin: center top;
    filter: drop-shadow(12px 12px 7px rgba(0,0,0,0.5));
    -webkit-filter: drop-shadow(12px 12px 7px rgba(0,0,0,0.5));
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
  }